#sidebar ul {
  padding-left: 20px;
  list-style: none;
}

#sidebar a {
  text-decoration: none;
  color: black;
  font-size: 20pt;
}

#sidebar li {
  font-size: 20pt;
  text-wrap: nowrap;
  padding-bottom: 0.5em;
}

#sidebar {
  /* background-color: rgb(46, 241, 241); */
  /* border: 10px; */
  /* border-color: red; */
  background-color: rgba(159, 233, 241, 0.6);
  border-right: solid thick black;
}

.blogLink {
  font-size: 17pt !important;
}

#content {
  /* height: auto;  */
  width: 90%;
  height: 90%;
  border: none; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: auto;
  /* padding-left: 50px; */
}

#header {
  /* ask why this is needed */
  /* margin-bottom: -4px; */
  height: 10vh;
  background-image: url("../images/headerphoto.JPG");
  background-size: 100% 100%;
}

.backgroundimage {
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: center center;
  height: 90vh;
 
  /* opacity (not needed anymore) */
  /* background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.3); */
}


.kode-mono-normal {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.seperator {
  border-color: black;
  border-bottom: 3px solid !important;
}

.blogText {
  padding: 20px;
}